@import url('https://fonts.googleapis.com/css?family=Merriweather');
#wrapper {
	display: grid;
	margin: 0 auto;
	max-width: 1000px;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 150px 50px auto auto;
	grid-template-areas:	"header header header"
							"nav nav nav"
							"article article article"
							"footer footer footer";
}

body {
	background-image: url("../bilder/bakgrunn.jpg");
}

header {
	grid-area: header;
	background-color: #ccaaFF;
}

nav {
	grid-area: nav;
	background-color: #ccbbFF;
	display: inline-block;
}

main {
	grid-area: article;
	background-color: #bbbbFF;
}

footer {
	grid-area: footer;
	background-color: #ccbbFF;
	padding:10px;
}

h1, h2, h3 {
	text-align:center;
}
footer ul {
	float: left;
}

nav ul{
	list-style:none;
}

nav ul li{
	display:inline-block;
	margin-right:100px;
}

nav ul li ul{
	display:none;
	position:absolute;
}

nav ul li ul li {
	display:block;
}

li {
	color: purple;
}

tr:nth-child(2n + 0) {
	background-color: #FFddee;
}
tr:nth-child(2n + 1) {
	background-color: #FFddcc;
}

nav ul li:hover ul {
	display:block;
	border:1px solid #cccccc;
	background-color: grey;
	max-width: 100px;
}

div.artikler {
	width: calc(100%/3);
	float: left;
	padding:10px;
	height: 300px;
	box-sizing:border-box;
	border: 1px solid black;
}

div.content {
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	border: 1px solid black;
	float:left;
}

img.eksempel {
	width: 50%;
	float: left;
}

img.bilde {
	width: 50%;
	float:right;
	box-sizing: border-box;
	border: 1px solid black;
	height: 299px;
}

div.bildetekst {
	width:50%;
	float:left;
}

a:visited {
	color:purple;
}

a {
	text-decoration: none;
}

td {
	border: 1px solid black;
	text-align:center
}

footer ul li {
	display: inline-block;
	margin-right:100px;
}

/*Forside*/

a.knapp {
	width:calc(100%/3);
	text-align:center;
	box-sizing:border-box;
	border:2px solid blue;
	background-color: cyan;
	float:right;
	color:black;
	text-decoration:none;
}

table.Forside {
	width:100%
}

p#frist {
	text-align:center;
	background-color: #ccccFF;
}
/*Om denne siden*/

table.ODS tr td {
	width:50%
}

/*Math ML*/

div.math {
	width: 50%;
	float: right;
	border: 2px solid black;
	text-align:center;
	height: 180px;
	font-size: 100px;
	background-color:white;
	padding-top: 20px;
}

p.math {
	height:200px;
	border: 1px solid black;
	background-color:white;
}
